<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pizza != null">
    <img src="{{pizza.imagem}}" />
    <ion-item>
        Pizza escolhida: {{pizza.sabor}}
        Tamanho: {{pizza.tamanho}}
        Valor: {{pizza.valor}}
    </ion-item>
    <div class="separador">
      Dados entrega
    </div>
    <ion-item>
        <ion-label>Endereco</ion-label>
        <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Numero</ion-label>
        <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="presentLoading()">Terminar pedido</ion-button>
</ion-content>
