<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-card *ngIf="pizza != null">
        <img src="{{pizza.imagem}}" />
        <ion-card-header>
          <ion-card-subtitle>tamanho: {{pizza.tamanho}}</ion-card-subtitle>
          <ion-card-title>{{pizza.sabor}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{pizza.ingredientes}}
        </ion-card-content>

        <ion-item>
            <ion-label>Valor</ion-label>
            <ion-input type="text" value="{{pizza.valor}}"></ion-input>

        </ion-item>
      </ion-card>
      <ion-button expand="full" (click)="pedirPizza(pizza.id)">Confirmar Pedido</ion-button>

</ion-content>
