<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PIZZAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    

    <ion-item *ngFor="let item of pizzas" (click)="pizza(item.id)">
      <ion-avatar slot="start">
        <img src="{{item.imagem}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.sabor}}</h2>
        <h3>tamanho: {{item.tamanho}}</h3>
        <p>{{item.valor}}</p>
      </ion-label>
    </ion-item>
    </ion-list>
    </ion-content>
